{% for zone in zones %}
<div class="zoneListZone">
    <div class="zoneListZone__header">
        <a href="{% url 'user-profile' zone.host.id %}" class="zoneListZone__author">
        <div class="avatar avatar--small">
            <img src="https://randomuser.me/api/portraits/women/11.jpg" />
        </div>
        <span>@{{zone.host.username}}</span>
        </a>
        <div class="zoneListZone__actions">
        <span>{{zone.created|timesince}}</span>
        </div>
    </div>
    <div class="zoneListZone__content">
        <a href="{% url 'zone' zone.id %}">{{zone.name}}</a>        
    </div>
    <div class="zoneListZone__meta">
        <a href="{% url 'zone' zone.id %}" class="zoneListZone__joined">        
        {{zone.participants.all.count}} people are gossipping in this zone!
        </a>
        <p class="zoneListZone__topic">{{zone.topic.name}}</p>
    </div>
</div>
{% endfor %}